*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: IBM Plex Sans;
}

html, body{
    height: 100%;
}

body{
    background: rgb(28, 30, 56)
}

.body-inner-div{
    max-width: 1280px;
    margin: auto;
    text-align: left;
    padding: 0px 16px;
}

.img{
    float: left;
    width: 100%;
    text-align: center;
    height: 55vh;
    margin-top: 60px
}

.img img{
    height: 100%;
}

.box{
    float: left;
    width: 100%;
    height: calc(45vh - 60px);
    text-align: center;
    color: #FFF;
    font-family: IBM Plex Sans;
}

.box-title{
    font-weight: 200;
    font-size: 3.66rem;
    margin-top: 2vh;
    margin-bottom: 4vh;
}

.box-title-futuro{
    font-family: IBM Plex Serif;
    font-weight: 700;
}

.box-frase{
    font-size: 1rem
}

.box-input{
    float: left;
    width: 100%;
    padding-top: 2vh
}

.box-input input{
    max-width: 30%;
    width: 100%;
    border-radius: 100px;
    background: #FFF;
    border: 0;
    padding: 14px 20px;
    font-family: IBM Plex Sans;
    font-weight: 600;
}

.box-input button{
    min-width: 100px;
    width: 100px;
    height: 46px;
    border-radius: 100px;
    margin-left: 7px;
    color:#FFF;
    background: rgb(255, 105, 88);
    border: 0px;
    font-weight: 500;
    cursor: pointer;
}

.box-input-placeholder-colorido::-webkit-input-placeholder {
    color: rgb(255, 105, 88);
}

.tropical{
    position: fixed;
    bottom: -190px;
    left: -100px;
    width: 390px;
    animation-name: roda-roda-2;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.logo{
    position: fixed;
    top: 65px;
    left: 70px;
    width: 220px;
}

.estrela{
    position: fixed;
    bottom: 100px;
    right: -260px;
    width: 480px;
    animation-name: roda-roda;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.consumo{
    position: fixed;
    bottom: 45px;
    right: 45px;
}

@keyframes roda-roda {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

@keyframes roda-roda-2 {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}